@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}
html {
  Scroll-behavior :smooth ;
}

:root{
    --bg-black-900 : #f2f2fc;
    --bg-black-100 : #fdf9ff;
    --bg-black-50 : #e8dfec;
    --text-black-900 : #302e4d;
    --text-black-700 : #504e79;
    --skin-color: #ec1839;
}

.section{
    background: #e6e5e5;
    height: auto;
    display: block;
    padding: 0 30px;
    opacity: 1;
   
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
    padding-bottom: 48px;
}
.section.back-section 
{
 z-index: 1;
}
.section.active{
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}
.hide{
    display: none;
}

.png{
  display: flex;
  gap: 48px;
}

.dll{
  margin-left: 80px;
  margin-top: 10px;
}
.dll p{
font-size: 44px;
}

body {
    
    width: 100%;
    
    height: 316px;
    margin: 0 auto;
}


nav {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
    display: flex;
    background:#e6e5e5;
    padding-left: 128px;
    padding-right: 128px;
    position: fixed;
    top: 0;
    z-index: 100;
    padding-bottom: 24px;
}

.fa-child{
    padding-top: 3px;
}

a{
  text-decoration: none;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    
}

nav div {
    font-size: 32px;
    font-weight: 900;
    
}

nav ul {
    
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    gap: 32px;
}

nav ul li {
    display: flex;
    gap: 5px;
}


nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

/* stroke */

nav.fill ul li a {
  position: relative;
}

nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}






.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}








/* Keyframes */
@keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #333;
    }
  }


label .menu {
  position: absolute;
  
  right: 100px;
  top: -100px;
  z-index: 100;
  
  background: #631515;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
  
  
}

label .hamburger {
  
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #69D2e7;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #69d2e7;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
  border-radius: 0;
  
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

label input:checked + .menu + ul { opacity: 1; }

label ul {
  z-index: 200;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #f38630;
  text-decoration: none;
  
}



.dll{
    position: relative;
    float: left;
}
.dll p{
    position: absolute;
    transform: translate(-50%,-50%);
    
    
}


.dll p:nth-child(2){
    color:#089bf1;
    animation: animate 2s ease-in-out infinite;
    
}


@keyframes animate{
    0%,100%{
        clip-path: polygon(0% 45%,15% 44%, 32% 50%,54% 60%,70% 61%,84% 59%,100% 52%,100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0% 60%,16% 65%, 34% 66%,51% 62%,67% 50%,84% 45%,100% 46%,100% 100%, 0% 100%);
    }
}

.resp-nav{
        display: none;
    }

@media (max-width:1040px){
    
    .resp-nav{
        display: block;
        display: flex;
        
        
    }
    
    .dll p{
        font-size: 32px;
        padding-top: 18px;
        padding-left: 52px;
        font-weight: 600;
    }
    .fill{
        display: none;
    } 
    li{
        list-style-type: none;
    }
    .ul li{
        display: flex;
        gap: 8px;
    }
}

.main {
    background-image: url(landscape-3837559_1280.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}

.form {
    width: 450px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
    row-gap: 20px;
    border: .5px solid rgb(248, 247, 247);
    border-radius: 8px;
    background: transparent;
    backdrop-filter: blur(6px);
}

.heading{
    font-family: 'Pacifico', cursive;
}

.input-group {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;

}

.input-group input {
    color:white;
    height: 2rem;
    padding: 5px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom:1px solid white;
}

.terms {
    width: 80%;
    display: flex;
    align-items: baseline;
    column-gap: 0.5rem;
}
.terms a{
    color: #c0d6fd;
}

input[type="button"]{
    width: 70%;
    outline: none;
    border: none;
    color: white;
    background-color: #192A47;
    border-radius: 100vmax;
    height: 40px;
}
input[type="button"]:active{
background-color: #293A4B;
}

@media screen and (max-width:620px) {
    .form{
        width: 100vw;
        height: 100vh;
        border: none;
    }
}